<div class="card" style="padding:20px">
    <div class="row" *ngIf="quizService.qns">
        <div class="col s8 offset-s2">
          <h2>Time Elapsed : {{quizService.displayTimeElapsed()}}</h2>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="(quizService.qnProgress+1)/quizService.qns.length*100" aria-valuenow="questionData.length" aria-valuemin="0" aria-valuemax="100"></div>
          </div><br>
          <div class="card cyan darken-1">
            <div class="card-content white-text">
              <h1>Q.{{quizService.qnProgress+1}} {{quizService.qns[quizService.qnProgress].QSN}}</h1>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngIf="quizService.qns[quizService.qnProgress].OPTION1!= null" (click)="Answer(quizService.qns[quizService.qnProgress].QUESTION_ID,1)">
                    {{quizService.qns[quizService.qnProgress].OPTION1}}
                  </li>
                  <li class="list-group-item" *ngIf="quizService.qns[quizService.qnProgress].OPTION2!= null" (click)="Answer(quizService.qns[quizService.qnProgress].QUESTION_ID,2)">
                    {{quizService.qns[quizService.qnProgress].OPTION2}}
                  </li>
                  <li class="list-group-item" *ngIf="quizService.qns[quizService.qnProgress].OPTION3!= null" (click)="Answer(quizService.qns[quizService.qnProgress].QUESTION_ID,3)">
                    {{quizService.qns[quizService.qnProgress].OPTION3}}
                  </li>
                  <li class="list-group-item" *ngIf="quizService.qns[quizService.qnProgress].OPTION4!= null" (click)="Answer(quizService.qns[quizService.qnProgress].QUESTION_ID,4)">
                    {{quizService.qns[quizService.qnProgress].OPTION4}}
                  </li>
                </ul>
            </div>
          </div>
      
        </div>
      </div>

      
</div>
  
  